@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.texico{ 
  -webkit-text-stroke: 2px grey; 
  color: transparent; 
  font-weight: 800;
}

.small_piece{ 
 animation-name: moving; 
 animation-duration: 3s;
 animation-fill-mode: forwards; 
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}
@keyframes moving {
  0%{ 
      left: 0%;
  } 
  50%{ 
      left: 78%;
  }
  100%{ 
      left: 0%;
  }
}