.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #A2E635; /* Green color */
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #1c1c1d;
  }
  